{% extends "layout.html" %}

{% block title %}Home | Junseo Yang Portfolio{% endblock %}

{% block content %}
    <section>
        <h2>Welcome to My Portfolio</h2>
        <p>Hello, I'm Junseo Yang. This is my personal portfolio website where I showcase my projects and skills.</p>
    </section>
    <section>
        <h2>Contact Details</h2>
        <p>Phone Number: 0 493 731 343</p>
        <p>Email: junseoyang4739@gmail.com</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/junseo-yang-680559355" target="_blank">www.linkedin.com/in/junseo-yang-680559355</a></p>
        <p>GitHub: <a href="https://github.com/JunseoYang4739" target="_blank">github.com/JunseoYang4739</a></p>
    </section>
{% endblock %}
